html {
    scroll-padding-top: 60px;
}

body {
    font-family: sans-serif;
    overflow-x: hidden;
}

.bg-blur-black {
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
}

.hero {
    height: 100vh;
    background-image: url("https://source.unsplash.com/random?restaurant");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.panel-content {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(3px);
}

.text-title {
    font-size: 2rem;
}

.second {
    min-height: 70vh;
}

.menu {
    min-height: 100vh;
    background-image: url("https://source.unsplash.com/random?food background");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
